{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="A Discord Bot for zKillboard.">
        <meta name="author" content="Col Crunch">
        {% include 'bundles/icons.html' %}

        <title>{% block title %}{% block page_title %}{% endblock %} - {{ SITE_NAME }}{% endblock %}</title>

        {% include 'bundles/bootswatch-css.html' %}
        {% include 'bundles/fontawesome.html' %}
    </head>
    <body class="h-100">
        <video id="background-video" class="position-absolute h-100 w-100" autoplay loop muted poster="https://colsfiles.nyc3.digitaloceanspaces.com/site_bg.jpg" style="z-index: -1; object-fit: cover;">
                <source src="https://colsfiles.nyc3.digitaloceanspaces.com/site_bg.mp4" type="video/mp4">
        </video>
        <div class="d-flex align-items-center h-100">
            <div class="d-flex flex-column align-items-center mx-auto">
                <div class="card bg-dark mx-auto" style="min-width: 35rem; max-width: 100rem">
                    <div class="card-body">
                        <h2 class="text-center"><img src="{% static 'djzkbBot/icons/logo.png' %}" width="64" height="64"> {{ SITE_NAME }}</h2>
                        {% block form %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
